/* TODO */
title {
    border: 2px #eee solid;
    color:brown; 
    text-align: center;
    padding: 10px;
}
#flash-messages {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin: 10px 0;
}