{% extends 'base.html' %}
{% block content %}
<h1>{% block title %} Create a new post {% endblock %}</h1>

<!-- Submits a POST request to the create view function in app.py -->

<form method="post">
    <!-- Assign post title -->
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title"
            placeholder="Post title" class="form-control"
            value="{{ request.form['title'] }}"></input>
    </div>

    <!-- Assign Sector -->
    <div class="form-group">
        <label for="action">Sector</label>
        <select name="sector" class="form-control">
            <option value="Technology">Technology</option>
            <option value="Healthcare">Healthcare</option>
            <option value="Consumer">Consumer</option>
            <option value="Energy">Energy</option>
            <option value="Other">Other</option>
        </select>
    </div>

    <!-- Assign ticker symbol -->
    <div class="form-group">
        <label for="ticker">Ticker Symbol</label>
        <input type="text" name="ticker"
            placeholder="Ticker Symbol" class="form-control"
            value="{{ request.form['ticker'] }}"></input>
    </div>

    <!-- Assign action -->
    <div class="form-group">
        <label for="action">Action</label>
        <select name="action" class="form-control">
            <option value="BUY">BUY</option>
            <option value="HOLD">HOLD</option>
            <option value="SELL">SELL</option>
        </select>
    </div>

    <!-- Assign post contents -->
    <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" placeholder="Post content"
                class="form-control">{{ request.form['content'] }}
        </textarea>
    </div>

    <!-- Submit button -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}